.anim-bg {
  // width: 100%;
  // height: 100%;
  // position: fixed;
  // object-fit: fill;
  // z-index: -5;
}

//BG CSSSSSS'S
///////////////////////////////
.camper-portrait {
  //CENTERED PERFECTLY VERTICAL
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.camper-landscape {
  margin-top: -10%;
}
///////////////////////////////
.road-portrait {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
.road-landscape {
  margin-top: -8%;
}
///////////////////////////////
.lighthouse-portrait {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
///////////////////////////////
.plane-portrait {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.plane-landscape {
  margin-top: -10%;
}
///////////////////////////////
.city-portrait {
  //CENTERED PERFECTLY VERTICAL
  position: absolute;
  width: 110%;
  height: 110%;
  transform: rotateZ(90deg, translateY(-50%));
  top: 50%;
}
.city-landscape {
  margin-top: -5%;
}
///////////////////////////////

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 15%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
  object-fit: cover;
}

.tickertape {
  border: 1px solid white;
  border-radius: 5px;
  background: black;
  color: white;
  width: 40%;
  height: 2.5rem;
  padding: 7px;
  position: fixed;
  top: 7rem;
  left: 50%;
  z-index: 1;
  cursor: pointer;
}

.ticker-img {
  position: fixed;
  width: 35rem;
  margin-left: -15rem;
  top: 0.8rem;
  z-index: 2;
  pointer-events: none;
}

.marquee {
  color: white;
}
@media screen and (max-width: 1268px) {
  .anim-bg {
    bottom: -35%;
  }
}

@media screen and (max-width: 768px) {
  .anim-bg {
    bottom: -5%;
  }
}

@media screen and (max-width: 468px) {
  .anim-bg {
    bottom: -30%;
  }
}
