@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./animBg";
@import "./welcome";
@import "./tickertape";
@import "./loading";
@import "./changeBgMenu";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

h1,
h2,
h3 {
  color: #ed118a;
}

body {
  font-family: "Lato", sans-serif;
  background: #006eb3;
}

h3,
h4 {
  font-weight: 400;
  color: white;
}
